@import url("../fontawesome/css/fontawesome.css");
@import url("../fontawesome/css/solid.css");
@import url("../fontawesome/css/brands.css");

/*----------------------- Preloader -----------------------*/

body.preloader-site {
     /*overflow: hidden;*/
}

.preloader-wrapper {
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 0.7);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 9999999;
}

.preloader-wrapper .preloader {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     width: 120px;
}

.loader {
     border: 10px solid rgba(255, 255, 255, 0.5);
     border-top: 10px solid #1AA3F9;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     animation: spin 2s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}

html {
     scroll-behavior: smooth;
     min-width: 320px;
}

body {
     font-family: montserrat, sans-serif !important;
     background-color: #F5F5F5;
     color: #222;
}

* {
     outline: 0 !important;
}

a:hover {
     text-decoration: none;
}

p {
     margin-bottom: 0px;
}

.au-header {
     background: rgb(10, 35, 63);
     background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
}

.au-fullheight {
     height: inherit;
     min-height: 100%;
}

.au-max-height {
     height: 100%;
}

.au-max-width {
     width: 100%;
}

.au-container {
     max-width: 1000px;
     margin: 0 auto;
     font-weight: 400;
     font-size: 13px;
     position: relative;
}

.au-footer {
     padding: 1em 1em;
     -webkit-box-shadow: inset 0 15px 40px -15px rgba(0, 0, 0, 0.5);
     box-shadow: inset 0 15px 40px -15px rgba(0, 0, 0, 0.5);
     background: rgb(10, 35, 63);
     background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
     color: #fff;
}

.au-footer-details {
     text-align: right;
}

.au-pf {
     font-size: 10px;
     display: inline-block;
     color: rgba(255, 255, 255, 0.7);
     margin: 3px 0 3px 10px;
}

.au-pf a {
     color: #ffffff;
}

.au-footer img {
     max-width: 220px;
}

.au-pf a:hover {
     opacity: 0.7;
}

a.au-lnk {
     color: #1AA3F9 !important;
}

a.au-lnk:hover,
a.au-lnk:hover>* {
     opacity: 0.7;
}

.au-navbar .navbar-nav .nav-link {
     color: #fff;
     text-transform: uppercase;
     font-weight: 400;
     border-bottom: 2px solid transparent;
     padding-left: 0;
     padding-right: 0;
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 0 25px;
     font-size: 11px;
}

.au-navbar .navbar-nav .nav-link:hover {
     color: #F9C417;
}

.au-navbar .navbar-nav .nav-link.active {
     border-color: #F9C417;
}

.au-logo {
     width: 230px;
}

.au-user {
     margin: 0 -5px;
     margin-left: 50px;
     display: flex;
     align-items: center;
}

.au-btn {
     border: 0;
     background-color: #092E6E;
     color: #fff;
     padding: 0.5em 0.9em;
     font-size: 12px;
     font-weight: 400;
     height: 35px;
     white-space: nowrap;
}

.au-btn i {
     margin-right: 5px;
}

.au-btn:hover {
     opacity: 0.7;
}

.au-avatar {
     height: 48px;
     width: 48px;
     border: 2px solid rgba(255, 255, 255, 0.2);
}

.au-avatar-lg {
     height: 60px;
     width: 60px;
     border: 2px solid rgba(255, 255, 255, 0.2);
}

.au-navbar-toggler {
     padding: 5px;
}

.au-login {
     display: inline-block;
     vertical-align: middle;
}

.au-acc {
     display: inline-block;
     vertical-align: middle;
     position: relative;
}

.au-acc .au-inner {
     display: inline-block;
     vertical-align: middle;
}

.au-accname {
     font-size: 11px;
     margin-left: 10px;
     font-weight: 700;
     color: #fff;
     display: block;
     vertical-align: middle;
}

.au-accpoints {
     font-size: 11px;
     margin-left: 10px;
     font-weight: 400;
     color: #F9C417;
     display: block;
     line-height: 28px;
}

.au-text {
     font-size: 13px;
     font-style: italic;
     margin-left: 10px;
     color: #fff;
     font-weight: 400;
     opacity: 0.7;
}

.au-menu {
     display: flex;
}

.au-heart {
     width: 27px;
     height: 27px;
     border-radius: 50%;
     text-align: center;
     display: inline-block;
     padding: 5px 6px 6px 6px;
     line-height: 21px;
     text-align: center;
     background-color: #0A233F;
     margin-right: 5px;
}

.au-heart i {
     font-size: 15px;
     display: inline;
}

.au-accbtn {
     background: transparent;
     border: 0;
     padding: 0;
     margin: 0;
     text-align: left;
}

.au-accbtn:hover .au-avatar {
     border-color: rgba(255, 255, 255, 0.7);
}

.au-accbtn.dropdown-toggle::after {
     color: #fff;
}

.au-accmobile {
     width: 100%;
     margin: 20px 0;
}

.au-accmobile a {
     width: 100%;
     display: block;
}

.au-btn-clear {
     border: 0;
     background-color: transparent;
     color: #fff;
     font-size: 16px;
     padding: 5px 10px;
     font-size: 16px;
}

.au-btn-clear span {
     font-size: 10px;
     display: block;
}

.au-dropdown .dropdown-item {
     font-size: 12px;
     padding: 10px;
     background: #fff;
     border-bottom: 1px solid transparent;
}

.au-dropdown.dropdown-menu {
     border: 0;
     border-radius: 0;
     padding: 0;
     box-shadow: rgba(51, 51, 51, 0.51) 0 11px 30px -20px, rgba(51, 51, 51, 0.51) 0 -11px 30px -20px;
}

.au-dropdown .dropdown-item {
     padding-left: 40px;
     position: relative;
}

.au-dropdown .dropdown-item i {
     position: absolute;
     left: 10px;
     font-size: 16px;
     color: #092E6E;
}

.au-dropdown .dropdown-item:hover {
     color: #1AA3F9;
}

.navbar-expand-lg .navbar-nav .au-dropdown {
     position: absolute;
     right: 0;
     top: 54px;
     width: 180px !important;
     margin-left: -20px;
     padding: 10px 5px;
}

.au-hero-bg {
     position: relative;
     background-image: url(../img/au-bg.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 1.5em;
     min-height: 350px;
}

.au-scroll {
     position: absolute;
     bottom: 0;
     left: 50%;
     right: 50%;
     transform: translateX(-40px);
}

.au-scroll a {
     width: 0;
     height: 0;
     border-left: 40px solid transparent;
     border-right: 40px solid transparent;
     border-bottom: 40px solid #f5f5f5;
     display: inline-block;
     color: rgba(0, 0, 0, 0.7);
     position: relative;
     font-size: 25px;
     display: block;
     margin-bottom: -1px;
}

.au-scroll a i {
     margin-left: -10px;
     margin-top: 12px;
}

.au-hero-bg .au-outer-container {
     height: 100%;
}

.au-hero-container {
     padding: 1em 2em;
     color: #fff;
     height: 100%;
     background-color: rgba(9, 46, 110, 0.8);
}

.au-hero-container>.au-inner {
     display: flex;
     align-items: center;
     height: 100%;
}

.au-carousel {
     display: block;
     width: 100%;
}

.au-carousel .carousel-inner {
     display: flex;
     align-items: center;
     width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
     width: 5.5em;
}

.au-flexcenter>div {
     display: block;
}

.au-h1 {
     font-family: montserrat, sans-serif;
     font-size: 24px;
     display: block;
     line-height: 1.25em;
     margin-bottom: 20px;
     font-weight: 700;
}

.au-h2 {
     font-family: montserrat, sans-serif;
     font-size: 18px;
     display: block;
     font-weight: 400;
     line-height: 1.5em;
     opacity: 0.7;
     margin-bottom: 20px;
}

.au-h3 {
     font-family: myriad-pro, sans-serif;
     font-size: 24px;
     display: block;
     font-weight: 700;
     font-style: italic;
     color: #092E6E;
     line-height: 1.25em;
     margin-bottom: 20px;
}

.au-h4 {
     font-family: myriad-pro, sans-serif;
     font-size: 22px;
     display: block;
     font-weight: 700;
     font-style: italic;
     color: #092E6E;
     line-height: 1.25em;
     margin-bottom: 20px;
}

.au-h5 {
     font-family: myriad-pro, sans-serif;
     font-size: 24px;
     display: block;
     font-weight: 700;
     font-style: italic;
     color: #fff;
     line-height: 1.25em;
     max-width: 500px;
     overflow-wrap: break-word;
}

.no-margin {
     margin: 0;
}

.no-padding {
     padding: 0;
}

.au-img-responsive {
     max-width: auto;
     width: 100%;
     display: inline-block;
}

.au-btnblue {
     font-size: 12px;
     font-weight: 700;
     color: #fff;
     background-color: #1AA3F9;
     padding: 1em 2em;
     display: block;
     border: 0;
     border-radius: 0;
}

.au-btnblue:hover {
     opacity: 0.7;
     color: #fff;
}

.au-btnyellow {
     font-size: 16px;
     font-weight: 700;
     color: #fff;
     background-color: #f9c417;
     padding: 1em 2em;
     display: block;
     border: 0;
     border-radius: 0;
}

.au-flexcenter {
     display: flex;
     align-items: center;
}

.au-padding {
     padding: 1.5em;
}

.au-featured-program {
     margin-bottom: 30px;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(9, 46, 110);
     background: -moz-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#092e6e", endColorstr="#1aa3f9", GradientType=1);
}

.au-fp-thumbnail {
     width: 100%;
     background-color: #fff;
     height: 250px;
     padding: 0px;
}

.au-fp-thumbnailimg {
     height: 100%;
     width: 100%;
     max-width: 100%;
     object-fit: contain;
     object-position: center;
     display: block;
     margin: 0 auto;
}

.au-fp-details {
     padding: 1em;
     height: 162px;
}

.au-p1 {
     display: block;
     font-size: 14px;
     font-weight: 700;
     color: #fff;
     margin-bottom: 10px;
}

.au-p2 {
     display: block;
     font-size: 12px;
     font-weight: 400;
     color: #fff;
     margin-bottom: 10px;
}

.au-p3 {
     display: block;
     font-size: 12px;
     font-weight: 400;
     color: #222;
     opacity: 0.5;
     margin-top: 5px;
}

.au-p4 {
     display: block;
     font-size: 14px;
     line-height: 1.5em;
     font-weight: 400;
     color: #222;
     margin-top: 5px;
}

.au-p5 {
     display: block;
     font-size: 12px;
     font-weight: 400;
     color: #222;
     margin-top: 5px;
}

.au-p6 {
     display: block;
     font-size: 14px;
     font-weight: 400;
     color: #222;
     margin-top: 5px;
}

.au-fp-details>.au-p2 {
     height: 54px;
     margin-bottom: 20px;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 3;
}

.au-fp-details>.au-p1 {
     height: 20px;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
}

.au-fp-fdetails .au-btnyellow {
     float: right;
}

.au-fp-fdetails .au-p2 {
     margin-bottom: 0px;
}

.au-memcounter {
     font-size: 11px;
     height: 30px;
     display: inline-block;
}

.au-btnyellow {
     font-size: 12px;
     font-weight: 700;
     color: #fff;
     background-color: #F9C417;
     padding: 0.5em 1em;
     display: block;
     border: 0;
}

.au-btnyellow:hover {
     opacity: 0.7;
     color: #fff;
}

.au-getrewards {
     height: 530px;
     margin-bottom: 30px;
     background: rgb(10, 35, 63);
     background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
}

.au-getrewards * {
     color: #fff;
}

.au-getrewards .au-inner {
     padding: 1em;
}

.au-getrewards>.row,
.au-getrewards {
     display: flex;
     align-items: center;
}

.au-reward {
     margin-bottom: 30px;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-group {
     max-width: 280px;
     width: 100%;
     display: block;
     margin: 20px auto;
}

.au-rdetails {
     padding: 1em 0;
}

.au-rtitle {
     font-size: 14px;
     height: 41px;
     margin-bottom: 10px;
     font-weight: 700;
     color: #092E6E;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
}

.au-details {
     font-size: 10px;
     height: 73px;
     margin-bottom: 20px;
     font-weight: 400;
     color: #222;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 5;
}

.au-reward .au-accpoints {
     margin-left: 0;
     margin-bottom: 20px;
     font-size: 13px;
     font-weight: 700;
}

.au-stars {
     display: inline-block;
     height: 30px;
     font-size: 14px;
     font-weight: 700;
     color: #222;
}

.au-stars i {
     color: #F9C417;
}

.au-r-thumbnail {
     background-color: #fff;
     height: 250px;
     width: 100%;
}

.au-r-thumbnailimg {
     height: 100%;
     width: 100%;
     max-width: 100%;
     object-fit: cover;
     object-position: center;
     display: block;
     margin: 0 auto;
}

.au-reward>.row {
     margin: 0 !important;
}

.au-heading {
     background: rgb(9, 46, 110);
     background: -moz-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#092e6e", endColorstr="#1aa3f9", GradientType=1);
}

.au-userbox {
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-bg {
     background-image: url(../img/au-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.au-bgtrans {
     background-color: rgba(9, 46, 110, 0.8);
     height: 100%;
     display: flex;
     align-items: center;
     color: #fff;
}

.au-bgtrans .au-h1 {
     font-size: 16px;
}

.au-bgtrans .au-h2 {
     font-size: 14px;
}

.au-bgtrans .au-inner {
     padding: 2em 0em;
}

.au-signupimg {
     max-width: 300px;
}

.au-form {
     width: 100%;
}

.au-form .au-p2 {
     color: #222;
}

.au-form-box .au-p2 {
     color: #222;
}

.au-form .form-control {
     border-radius: 0;
     border: 1px solid rgba(0, 0, 0, 0.3);
     font-size: 12px;
     padding: 0 1em;
     height: 42px;
}

.au-form textarea.form-control {
     padding: 1em 1em;
     height: auto;
}

.au-form .form-check-label {
     margin-left: 20px;
}

.au-form .au-btnblue {
     padding: 1em 2em;
}

.au-form .form-row {
     margin-bottom: 1em;
}

.au-form .btn {
     border-radius: 0;
     color: #fff !important;
     height: 42px;
     padding: 0em 2.5em;
     font-size: 12px;
}

.au-form .custom-file {
     height: 44px;
}

.au-form .custom-file-label {
     border-radius: 0;
     border: 1px solid rgba(0, 0, 0, 0.3);
     font-size: 14px;
     padding: 0 1em;
     height: 44px;
     line-height: 44px;
     overflow: hidden;
}

.au-form .custom-file-input {
     font-size: 14px;
     padding: 0 1em;
     height: 44px;
     width: 100%;
}

.au-form .custom-file-label::after {
     border-radius: 0;
     font-size: 14px;
     padding: 0 1em;
     height: 44px;
     line-height: 44px;
     border: 0;
     background-color: #a6adb0;
     color: #fff;
}

.au-form-wrapper {
     width: 100%;
     padding: 1em;
}

.au-form-box {
     padding: 1em;
     border: 1px solid rgba(0, 0, 0, 0.3);
     background-color: #fff;
     height: inherit;
}

.au-partitioned {
     padding-left: 15px;
     letter-spacing: 42px;
     background-color: transparent;
     border: 0;
     border-bottom: 1px dashed #1C6EA4 !important;
     background-position: bottom;
     background-size: 50px 1px;
     background-repeat: repeat-x;
     background-position-x: 35px;
     outline: 0 !important;
}

.au-partitioned.form-control:focus {
     border: 0;
     box-shadow: unset;
     background-color: transparent;
}

.au-otp {
     text-align: center;
     font-weight: 700;
     font-size: 20px !important;
}

.au-form .au-iconned,
.au-form .au-iconned-mini {
     position: relative;
     width: 100%;
}

.au-form .au-iconned .form-control {
     padding-left: 3em;
}

.au-form .au-iconned i {
     position: absolute;
     top: 14px;
     left: 1.5em;
     font-size: 13px;
     color: #092E6E;
}

.au-form .au-iconned-mini .form-control {
     padding-left: 2.5em;
}

.au-form .au-iconned-mini i {
     position: absolute;
     top: 10px;
     left: 1em;
     font-size: 13px;
     color: #092E6E;
}

.au-stitle {
     font-size: 10px;
     font-weight: 700;
     margin-bottom: 5px;
     color: #092E6E;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     /* number of lines to show */
}

.au-exfilter .au-form .form-control {
     font-size: 12px;
     height: 34px;
}

.au-exfilter .au-form .btn {
     font-size: 12px;
     height: 34px;
}

.right-flex {
     justify-content: flex-end;
}

.au-exfilter .form-row {
     margin-left: 0;
     margin-right: 0;
}

.au-event {
     overflow: hidden;
     margin-bottom: 30px;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-eventdetails {
     padding: 1em 2em 0 1em;
}

.au-program {
     padding-left: 56px;
     position: relative;
}

.au-pthumbnail {
     position: absolute;
     top: 0;
     left: 0;
     width: 42px;
     height: 42px;
     background: #fff;
}

.au-ptitle {
     font-size: 16px;
     height: 48px;
     margin-bottom: 10px;
     font-weight: 700;
     color: #092E6E;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
}

.au-pdetails {
     height: 46px;
     font-size: 10px;
     margin-bottom: 10px;
     font-weight: 400;
     color: #222;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
}

.au-programdetails {
     margin-bottom: 10px;
}

.au-pques {
     font-size: 12px;
     font-weight: 700;
     color: #092E6E;
     display: inline-block;
     width: 63px;
}

.au-pans {
     font-size: 12px;
     font-weight: 700;
     color: #222;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
}

.au-volunteers {
     margin-bottom: 10px;
     font-size: 18px;
     color: #092E6E;
}

.au-volunteers .au-icon {
     margin-right: 10px;
}

.au-time {
     color: #EA1126;
}

.au-talent {
     color: #105E99;
}

.au-treasure {
     color: #EBB400;
}

.vol-time .au-time {
     display: inline-block;
}

.vol-talent .au-talent {
     display: inline-block;
}

.vol-treasure .au-treasure {
     display: inline-block;
}

.au-needed {
     font-size: 12px;
     font-weight: 400;
     color: #092E6E;
     font-style: italic;
}

.au-volunteered {
     display: none;
     background-color: #a6adb0;
}

.au-volunteered:hover {
     background-color: #a6adb0;
     color: #fff;
}

.volunteered .au-volunteer {
     display: none;
}

.volunteered .au-volunteered {
     display: block;
}

.au-action {
     margin-bottom: 1em;
}

.au-pprogress {
     background-color: #092E6E;
     margin-left: -1em;
     margin-right: -1em;
     position: relative;
}

.au-numbers {
     position: relative;
     font-size: 10px;
     font-weight: 400;
     color: #fff;
     text-align: right;
     display: block;
     width: 100%;
     padding: .5em 1em;
     height: 26px;
     z-index: 2;
}

.au-numbers i {
     font-size: 14px;
     margin-right: 5px;
}

.au-bar {
     z-index: 1;
     position: absolute;
     left: 0;
     top: 0;
     height: 26px;
     width: 0;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background: rgb(26, 163, 249);
     background: -moz-linear-gradient(0deg, rgba(26, 163, 249, 0.8) 0%, rgba(26, 163, 249, 1) 100%);
     background: -webkit-linear-gradient(0deg, rgba(26, 163, 249, 0.8) 0%, rgba(26, 163, 249, 1) 100%);
     background: linear-gradient(0deg, rgba(26, 163, 249, 0.8) 0%, rgba(26, 163, 249, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1aa3f9", endColorstr="#1aa3f9", GradientType=1);
}

.au-eventlink {
     display: inline-block;
}

.au-eventthumbnail {
     position: relative;
     overflow: hidden;
     padding: 0;
}

.au-eventthumbnail .au-eventimg {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}

.au-eventswrapper .au-eventthumbnail .au-eventimg{
     max-height: 244px;
}

.au-eventthumbnail::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgb(10, 35, 63);
     background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 0.5) 0%, rgba(26, 163, 249, 0) 100%);
     background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 0.5) 0%, rgba(26, 163, 249, 0) 100%);
     background: linear-gradient(45deg, rgba(10, 35, 63, 0.5) 0%, rgba(26, 163, 249, 0) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#1aa3f9", GradientType=1);
}

.au-eventthumbnail .au-accpoints {
     position: absolute;
     bottom: 1em;
     left: 1em;
}

.au-accpointsv {
     display: none;
     color: #1AA3F9;
}

.volunteered .au-accpoints {
     display: block;
}

.volunteered .au-accpointsv {
     display: none;
}

.au-programheading {
     display: flex;
}

.au-phthumbnail {
     min-width: 150px;
     width: 150px;
     height: 150px;
     background-color: #fff;
     padding: 0px;
}

.au-phdetails {
     padding: 0 1em;
     align-self: flex-end;
}

.au-members {
     color: #fff;
     font-weight: 400;
}

.au-members i {
     color: #1AA3F9;
     font-size: 16px;
     margin-right: 5px;
}

.au-phstats {
     margin-top: 5px;
}

.au-phstats>* {
     margin-right: 30px;
     display: inline-block;
     margin-left: 0;
     font-size: 12px;
}

.au-phstats>*:last-child {
     margin-right: 0;
}

.au-share {
     color: #fff;
     font-weight: 400;
}

.au-share i {
     font-size: 16px;
     color: #fff;
     margin-right: 5px;
}

.au-share img {
     height: 20px;
}

.au-programdescription {
     margin-bottom: 20px;
}

.au-title {
     font-size: 16px;
     margin-bottom: 10px;
     font-weight: 700;
     color: #092E6E;
}

.au-plink {
     display: inline-block;
     height: 200px;
     width: 100%;
     margin-bottom: 30px;
}

.au-opthumbnail {
     height: 150px;
     background-color: #fff;
}

.au-titlebox {
     padding: 1em;
     color: #fff;
     font-weight: 700;
     font-size: 14px;
     background: rgb(9, 46, 110);
     background: -moz-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     background: linear-gradient(45deg, rgba(9, 46, 110, 1) 0%, rgba(26, 163, 249, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#092e6e", endColorstr="#1aa3f9", GradientType=1);
}

.au-content {
     margin-bottom: 30px;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-userentry a {
     display: flex;
     width: 100%;
     align-items: center;
     color: #222;
     margin-bottom: 10px;
}

.au-userentry .au-accname {
     color: #222;
}

.au-cscroll {
     max-height: 714px;
     padding: 1em;
     overflow-y: auto;
}

.au-frame {
     width: 100%;
     min-height: 400px;
     border: 0;
}

.g-recaptcha>* {
     margin: 0 auto;
}


/* width */

.au-cscroll::-webkit-scrollbar {
     width: 5px;
}


/* Track */

.au-cscroll::-webkit-scrollbar-track {
     background: #f5f5f5;
}


/* Handle */

.au-cscroll::-webkit-scrollbar-thumb {
     background: #eee;
}


/* Handle on hover */

.au-cscroll::-webkit-scrollbar-thumb:hover {
     background: #1AA3F9;
}

.au-invalid-feedback {
     display: none;
     width: 100%;
     margin-top: .25rem;
     font-size: 80%;
     color: #dc3545;
}

.invalid .au-invalid-feedback {
     display: block;
}

.au-pb {
     font-size: 12px;
     font-weight: 400;
     display: block;
     color: #fff;
     opacity: 0.7;
     margin-bottom: 10px;
}

.au-badges {
     margin-top: 10px;
}

.au-badge {
     width: 30px;
     height: 35px;
     background-image: url(../img/au-badge.svg);
     background-repeat: no-repeat;
     background-size: cover;
     margin: 5px;
     padding: 8px 0;
     display: inline-block;
}

.au-badge i {
     font-size: 18px;
     display: block;
     text-align: center;
}

.au-evthumbnail {
     min-width: 150px;
     width: 150px;
     height: 150px;
     background-color: #fff;
}

.au-evthumbnail .au-fp-thumbnailimg {
     min-width: 150px;
     width: 150px;
     height: 150px;
     background-color: #fff;
     object-fit: cover;
     object-position: center;
}

.au-programdetailsinside {
     margin-bottom: 10px;
}

.au-programdetailsinside .au-pques {
     width: 65px;
}

.au-programdetailsinside .au-pans,
.au-programdetailsinside .au-pques {
     font-size: 14px;
     overflow: hidden;
     text-overflow: unset;
     display: inline-block;
     -webkit-box-orient: unset;
     -webkit-line-clamp: unset;
     vertical-align: middle;
     margin: 0;
     padding: 0;
}

.au-programdetailsinside {
     display: flex;
}

.au-programdetailsinside .au-phthumbnail {
     min-width: 120px;
     width: 120px;
     height: 120px;
     margin-right: 15px;
}

.au-dtitle {
     display: block;
     padding-top: 3px;
     font-size: 14px;
     font-weight: 700;
     color: #092E6E;
}

.au-programdetailsinside .au-pprogress {
     margin-left: 0;
     margin-right: 0;
     margin-top: 10px;
     margin-bottom: 10px;
}

.au-accvolunteer {
     font-size: 13px;
     margin-left: 10px;
     font-weight: 400;
     display: block;
     line-height: 28px;
}

.au-accvolunteer .au-accvicon {
     display: inline-block;
     margin-right: 5px;
}

.au-accvolunteer .au-accvicon i {
     margin: 0px 5px;
}

.au-accvolunteer .au-label {
     margin-right: 5px;
}

.au-opptable {
     margin-top: 10px;
     font-size: 14px;
}

.au-opptable table {
     width: 100%;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-opptable table tr {
     font-size: 12px;
}

.fa-times {
     color: #EA1126;
}

.au-opptable table th {
     color: #092E6E;
}

.au-opptable table td,
.au-opptable table th {
     padding: 10px;
     border: 1px solid rgba(0, 0, 0, 0.05);
}

.au-btnvolunteer {
     border: 0px;
     padding: 0px;
     text-align: left;
     position: relative;
     width: 100px;
}

.au-btnvolunteer-2 {
     /*width: 200px;*/
     width: auto;
}

.au-btnvolunteer:hover {
     opacity: 0.7;
}

.au-btnvolunteertype {
     padding: 0.5em 0.9em;
     color: #fff;
     display: inline-block;
     font-size: 12px;
     width: 100px;
}

.au-btnvolunteer i {
     margin-right: 10px;
     width: 15px;
}

.au-btnvolunteer .au-plus {
     color: #ffffff;
     font-size: 12px;
     position: absolute;
     left: 94px;
     top: 10px;
}

.au-actions {
     font-size: 0px;
}

.au-actions::before {
     font-size: 12px;
}

.au-opptable .au-actions {
     white-space: nowrap;
}

.au-btnvolunteertype.au-time {
     background-color: #EA1126;
}

.au-btnvolunteertype.au-talent {
     background-color: #105E99;
}

.au-btnvolunteertype.au-treasure {
     background-color: #EBB400;
}

.au-gl-thumbnailimg {
     height: 100%;
     width: 100%;
     max-width: 100%;
     object-fit: cover;
     object-position: center;
     display: block;
     margin: 0 auto;
}

.au-volunteermes {
     font-size: 12px;
     font-style: italic;
     display: none;
}

.volunteered .au-btnvolunteer {
     /*display: none;*/
}

.volunteered .au-volunteermes {
     display: block;
}

.au-volunteermes i {
     margin-right: 5px;
     width: 15px;
}

.au-volunteeredmes {
     font-size: 12px;
     font-style: italic;
     margin-right: 15px;
     color: #222;
}

.au-volunteeredmes i {
     margin-right: 5px;
}

.au-gltitle {
     color: #222;
     font-size: 12px;
     font-weight: 400;
     text-align: center;
     padding: 0.5em;
     background-color: #fff;
}

.modal-content {
     border-radius: 0px;
     border: 0px;
}

.au-gallerywrapper {
     margin-bottom: 30px;
}

.au-testimonialentry {
     margin-bottom: 30px;
}

.au-testimonial {
     position: relative;
     padding: 1em;
     padding-bottom: 4em;
     box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
     background: rgb(238, 238, 238);
     background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
}

.au-testimonial .au-share {
     position: absolute;
     right: 1em;
     bottom: 1em;
}

.au-testimonial .au-share,
.au-testimonial .au-share * {
     color: #092E6E;
}

.au-date {
     color: #222;
     opacity: 0.7;
     font-size: 11px;
     position: absolute;
     right: 1em;
     top: 1em;
}

.volunteer .au-btnvolunteer {
     position: relative;
     margin-top: 5px;
}

.volunteer .au-btnvolunteer:after {
     position: absolute;
     top: -8px;
     right: -8px;
     font-family: "Font Awesome 5 Free";
     display: inline-block;
     content: '\f00c';
     color: #ffffff;
     background-color: #092e6e;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     font-size: 11px;
     text-align: center;
     padding: 3px 5px;
}


/*.volunteer .au-btnvolunteertype:first-child{
     background-color: #dce2e5 !important;    
}
.volunteer .au-btnvolunteertype:last-child{
     background-color: #a6adb0 !important;    
}*/

.au-volmessage {
     display: inline-block;
     margin: 0px 5px;
}

.au-modalbtn {
     margin-top: 1em;
}

.au-modalbtn .au-btn {
     display: inline-block;
     margin: 5px 5px;
     font-weight: bold;
     font-size: 12px;
     width: auto;
}

.au-yourvolunteer {
     margin: 1em 0;
     font-size: 18px;
     font-weight: 700;
}

.au-yourvolunteer i {
     margin-right: 5px;
}

.completed.au-event-entry .au-eventthumbnail:after {
     content: 'Completed';
     position: absolute;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
     top: 1em;
     left: 2em;
}

.completed.au-event-entry * {
     color: #555 !important;
}

.completed.au-event-entry .au-event {
     background: #eee !important;
}

.completed img {
     filter: grayscale(100%);
}

.au-volunteeredwrapper .au-event {
     margin-bottom: 1em;
}

.date-selected .au-event {
     box-shadow: 0 0 0 0.2rem rgba(249, 196, 23, .5);
}

.au-pointslevel {
     font-size: 0;
     position: relative;
     margin-bottom: 30px;
     width: 105%;
     margin-left: -2.5%;
}

.au-ptscol {
     text-align: left;
     display: inline-block;
     width: 9.09%;
}

.au-ptscol span {
     display: block;
     text-align: center;
     font-size: 12px;
}

.au-pts {
     font-weight: 700;
     color: #F9C417;
}

.au-level {
     position: relative;
     font-weight: 400;
     color: #ffffff;
     background-color: #092E6E;
     display: inline-block;
     margin: 0 auto;
     width: 24px;
     height: 24px;
     padding: 1px;
     border-radius: 50%;
     border: 2px solid #092E6E;
     z-index: 2;
}

.au-ptscol.reached .au-level {
     background-color: #F9C417;
     position: relative;
}

.au-prbar {
     position: absolute;
     width: calc(100% - 10%);
     height: 10px;
     border: 2px solid #092E6E;
     background-color: #092E6E;
     top: 25px;
     border-radius: 5px;
     z-index: 1;
     overflow: hidden;
     margin: 0 5%;
}

.au-level span {
     z-index: 2;
     position: relative;
}

.au-levelbar {
     position: absolute;
     top: 0px;
     left: 0px;
     height: 8px;
     width: 0%;
     background-color: #F9C417;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}

.au-titlebox .au-inner {
     margin-top: 1em;
}

.au-achivements {
     margin-bottom: 30px;
     height: auto !important;
}

.au-email.au-lnk {
     color: #fff !important;
}

.au-p2>span {
     display: block;
}

.au-pfnum {
     margin-top: 5px;
     font-size: 16px;
     font-weight: 700;
     color: #fff;
     background-color: #092E6E;
     display: inline-block;
     width: 40px;
     height: 40px;
     padding: 8px 3px;
     border-radius: 50%;
     border: 2px solid #092E6E;
     text-align: center;
}

.au-pfaccpoints {
     color: #F9C417;
     font-size: 16px;
     font-weight: 700;
}

.au-pfaccpoints .au-heart i {
     font-size: 24px;
}

.au-pfaccpoints .au-heart {
     margin-top: 5px;
     padding: 10px 8px;
     width: 40px;
     height: 40px;
}

.au-jprogramswrapper {
     margin-bottom: 30px;
}

.au-jprogramswrapper .slick-track {
     margin-left: 0;
     margin-right: 0;
}

.slick-prev,
.slick-next {
     height: 100% !important;
}

.slick-next:before {
     font-family: "Font Awesome 5 Free";
     display: inline-block;
     content: '\f054';
     padding: 0 5px;
     font-size: 12px;
     color: #222;
}

.slick-prev:before {
     font-family: "Font Awesome 5 Free";
     display: inline-block;
     content: '\f053';
     padding: 0 5px;
     font-size: 12px;
     color: #222;
}

.au-slprograms .au-opthumbnail {
     height: 100px;
     padding: 10px;
     margin: 0px;
}

.au-slprograms {
     padding: 0 5px;
}

.slick-list {
     margin: 10px -5px;
}

.au-userpicture {
     margin-bottom: 30px;
}

.au-userpicture .au-useravatar {
     width: 100%;
     height: auto;
     margin-top: -100px;
}

.data {
     display: flex;
     flex-wrap: wrap;
}

.au-workplace>.row {
     background-color: #fff;
     padding: 0.5em;
     border: 1px solid rgba(0, 0, 0, 0.1) !important;
     margin: 0 0 0.5em 0em;
     border-radius: 3px;
}

.au-workplace>.row>.col-md-12 {
     padding: 0px;
     border-bottom: 0px !important;
     margin-bottom: 0px !important;
}

.au-workplace a {
     font-size: 12px;
     overflow-wrap: break-word;
}

.au-workplace label {
     font-size: 13px;
     margin-bottom: 0px;
}

.au-workplace p {
     font-size: 11px !important;
}

.au-workplace>.row>.col-md-12>.col-md-10 img {
     margin-top: 10px;
     border: 1px solid rgba(0, 0, 0, 0.1);
}

.au-workplace>.row>.col-md-12>.col-md-10 {
     padding: 0px 0.5em;
}

.au-powner {
     margin-bottom: 20px;
     font-size: 12px;
}

.au-powner i {
     margin-left: 5px;
     font-size: 12px;
}

.au-userbox .au-form-wrapper {
     padding: 2em 1em;
}

#program_list button,
#program_list a {
     margin-bottom: 5px;
     margin-right: 5px;
     white-space: nowrap;
}

.au-manageprogramtable.au-opptable table {
     table-layout: unset;
}

.au-manageprogramtable.au-opptable table th {
     width: auto;
}

#btn_addProgram,
#btn_unpublishProgram,
#btn_publishProgram {
     margin-right: 10px;
     margin-top: 10px;
}

.au-evnu {
     color: #fff;
     height: 18px;
     width: 18px;
     background-color: #11295b;
     border-radius: 50%;
     text-align: center;
     padding: 0px;
     line-height: 18px;
     font-weight: 400;
     display: inline-block;
     margin-left: -5px;
     margin-top: -2px;
     vertical-align: top;
     font-size: 8px;
}

.au-action {
     font-size: 16px;
     margin-right: 10px;
}

.au-eventdetails .au-action {
     margin-right: 0px;
}

.file-label {
     font-size: 14px;
}

button.close {
     display: none;
}

.modal-header {
     border-bottom: 0px;
     padding: 1em 1em 0em 1em;
}

.modal-body {
     padding: 1em 1em 1em 1em;
}

.modal-footer {
     border-top: 0px;
     margin-top: -1em;
     padding: 0em 1em 1em 1em;
     display: flex;
     justify-content: center;
}

.modal-title {
     text-align: center;
     width: 100%;
     display: block;
     font-family: myriad-pro, sans-serif;
     font-size: 22px;
     display: block;
     font-weight: 700;
     font-style: italic;
     color: #092E6E;
     line-height: 1.25em;
}

.au-imgbadge{
     max-width: 25px;
     margin-right: 5px;
}
.au-badges .au-imgbadge{
     max-width: 40px;
     margin-right: 5px;
}
.au-volmessage{
     color: #222;
}
button.btn.btn-secondary {
     border: 0;
     background-color: #F9C417;
     color: #fff;
     padding: 0.5em 0.9em;
     height: 35px;
     display: inline-block;
     margin: 5px 5px;
     font-weight: bold;
     font-size: 12px;
     width: auto;
     white-space: nowrap;
     border-radius: 0px;
}

button.btn-primary {
     border: 0;
     background-color: #092E6E;
     color: #fff;
     padding: 0.5em 0.9em;
     height: 35px;
     display: inline-block;
     margin: 5px 5px;
     font-weight: bold;
     font-size: 12px;
     width: auto;
     white-space: nowrap;
     border-radius: 0px;
}

button.btn:hover {
     opacity: 0.7;
     color: #fff;
}

.applyBtn,
.cancelBtn {
     height: unset !important;
}

.au-userbox .au-form .btn {
     display: block;
     background-color: #1AA3F9;
}

.au-terms {
     font-size: 14px;
     padding: 0px 20px 0px 20px;
}

.au-guidelines {
     font-size: 12px;
     border-top: 1px solid rgba(0, 0, 0, .1);
     border-bottom: 1px solid rgba(0, 0, 0, .1);
     margin-bottom: 1em;
     margin-left: -1em;
     margin-right: -1em;
     max-height: calc(100vh - 250px);
}

.au-guidelines {
     padding-inline-start: 0px;
}

.modal-open .modal {
     padding-right: 11px;
}

.au-errormessage {
     color: #ea1126;
     margin-top: 10px;
     font-weight: bold;
     font-size: 12px;
     background-color: rgba(255, 0, 0, 0.1);
     padding: 10px;
     margin: 10px auto -10px auto;
     display: none;
}

.au-errormessage i {
     margin-right: 5px;
}

.au-btnicon {
     max-width: 120px;
     display: block;
}

.au-btnvolunteer.au-btn {
     background-color: #1AA3F9;
     padding: 0.5em 2em;
     width: auto;
}

.disabled .au-btnvolunteer.au-btn {
     background-color: #a6adb0 !important;
     pointer-events: none;
}

.au-menu .d-lg-none{
     border-top: 1px solid rgba(255,255,255,0.3);
}

.au-flexcenter > .modal {
    display: none;
}
.au-exfilter button.btn-primary{
     margin: 0px;
}
.au-form .form-control[readonly]{
     background-color: #fff;
}
/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
     .au-logo {
          width: 170px;
     }
     .au-avatar {
          height: 36px;
          width: 36px;
     }
     .au-navbar .navbar-nav .nav-link {
          margin: 0 0;
          padding: 10px 0;
     }
     .au-user {
          margin: 0 0;
          width: 100%;
     }
     .au-acc {
          width: 100%;
     }
     .au-user .au-btn {
          width: calc(50% - 12px);
     }
     .au-menu {
          display: block;
     }
     .au-h1 {
          font-size: 18px;
          text-align: center;
     }
     .au-h2 {
          font-size: 16px;
          text-align: center;
     }
     .au-h3 {
          font-size: 18px;
          text-align: center;
     }
     .au-carousel .au-btnblue {
          width: 100%;
     }
     .au-fp-thumbnail {
          height: 200px;
     }
     .au-getrewards {
          height: auto;
          text-align: center;
     }
     .au-pf {
          margin: 3px 5px 3px 5px;
     }
     .au-footer-details {
          text-align: center;
     }
     .au-footerimg {
          display: block;
          text-align: center;
          margin: 20px auto 0 auto;
     }
     .au-group {
          margin: 0 auto;
     }
     .au-getrewards {
          background: transparent;
     }
     #aurewards {
          background: rgb(10, 35, 63);
          background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
     }
     .au-signupimg {
          margin: 0 auto;
     }
     .au-form .au-btnblue {
          width: 100%;
     }
     .au-eventthumbnail {
          height: 200px;
     }
     .au-eventdetails {
          padding: 1em 2em 0 2em;
     }
     .au-phthumbnail {
          min-width: 100px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
     }
     .au-evthumbnail,
     .au-evthumbnail .au-fp-thumbnailimg {
          min-width: 100px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
     }
     .au-h5 {
          font-size: 20px;
     }
     .au-h4 {
          font-size: 20px;
     }
     .au-title {
          font-size: 14px;
     }
     .au-programheading {
          display: block;
          text-align: center;
     }
     .au-phdetails {
          padding: 1em 0 0 0;
     }
     .au-plink {
          height: 150px;
     }
     .au-opthumbnail {
          height: 150px;
     }
     .au-titlebox {
          font-size: 14px;
     }
     .au-programdetailsinside {
          display: block;
     }
     .au-programdetailsinside .au-phthumbnail {
          margin: 10px auto;
     }
     .au-searchbtn {
          display: block;
          width: 100%;
     }
     .au-searchbtn .au-stitle {
          display: none;
     }
     .au-phstats>* {
          display: block;
          margin: 5px 0px;
     }
     .au-opptable {
          margin: 0 auto;
          width: 100%;
          border-spacing: 0;
     }
     .au-opptable table {
          box-shadow: unset;
          background: transparent;
     }
     .au-opptable thead {
          position: absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
     }
     .au-opptable tbody,
     .au-opptable tr,
     .au-opptable th,
     .au-opptable td {
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
     }
     .au-opptable tr td,
     .au-opptable tr th {
          vertical-align: middle;
          overflow: hidden;
          position: relative;
          vertical-align: top;
          border: none;
          border-top: none;
          width: 100%;
          white-space: normal;
          display: inline-block;
          padding: 5px 0px 5px 0px;
     }
     .au-opptable th[scope="row"] {
          width: 100%;
          text-align: center;
          display: block;
          background-color: #B3BFC6;
          margin: 0 auto;
          padding: .5em 0;
     }
     .au-opptable td[data-header]:before {
          content: attr(data-header);
          display: block;
          width: 100%;
          margin-left: 0;
          margin-bottom: 5px;
          color: #092E6E;
          font-weight: 700;
          text-align: left;
     }
     .au-opptable table tr {
          padding: 1em;
          margin: 20px 0px;
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
          background: rgb(238, 238, 238);
          background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
     }
     .au-modalbtn .au-btn {
          width: 100%;
          margin: 5px 0px;
     }
     .au-userbox .au-form-wrapper {
          padding: 0px;
     }
     .au-bgtrans .au-inner {
          padding: 1em 0px;
     }
     .au-signupimg {
          max-width: 200px;
     }
     .au-bgtrans .au-h1 {
          font-size: 14px;
     }
     .au-bgtrans .au-h2 {
          font-size: 12px;
     }
     .modal-open .modal {
          padding-right: 0px !important;
     }
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {
     .au-navbar .navbar-nav .nav-link {
          margin: 0 0;
          padding: 10px 0;
     }
     .au-acc {
          width: 100%;
     }
     .au-user {
          margin: 0 0;
          width: 100%;
     }
     .au-user .au-btn {
          width: calc(50% - 12px);
     }
     .au-menu {
          display: block;
     }
     .au-h1 {
          font-size: 22px;
          text-align: center;
     }
     .au-h2 {
          font-size: 16px;
          text-align: center;
     }
     .au-h3 {
          font-size: 22px;
          text-align: center;
     }
     .au-carousel .au-btnblue {
          width: 100%;
     }
     .au-fp-thumbnail {
          height: 200px;
     }
     .au-getrewards {
          height: auto;
     }
     .au-pf {
          margin: 3px 5px 3px 5px;
     }
     .au-footer-details {
          text-align: center;
     }
     .au-footerimg {
          display: block;
          text-align: center;
          margin: 20px auto 0 auto;
     }
     .au-getrewards {
          background: transparent;
     }
     #aurewards {
          background: rgb(10, 35, 63);
          background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
     }
     .au-signupimg {
          margin: 0 auto;
     }
     .au-form .au-btnblue {
          width: 100%;
     }
     .au-phthumbnail {
          min-width: 100px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
     }
     .au-evthumbnail,
     .au-evthumbnail .au-fp-thumbnailimg {
          min-width: 100px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
     }
     .au-h5 {
          font-size: 20px;
     }
     .au-h4 {
          font-size: 20px;
     }
     .au-title {
          font-size: 14px;
     }
     .au-programheading {
          display: block;
          text-align: center;
     }
     .au-phdetails {
          padding: 1em 0 0 0;
     }
     .au-titlebox {
          font-size: 14px;
     }
     .au-programdetailsinside {
          display: block;
     }
     .au-programdetailsinside .au-phthumbnail {
          margin: 10px auto;
     }
     !important .au-searchbtn {
          !important display: block;
          width: 100%;
     }
     .au-searchbtn .au-stitle {
          display: none;
     }
     .au-phstats>* {
          display: block;
          margin: 5px 0px;
     }
     .au-opptable {
          margin: 0 auto;
          width: 100%;
          border-spacing: 0;
     }
     .au-opptable table {
          box-shadow: unset;
          background: transparent;
     }
     .au-opptable thead {
          position: absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
     }
     .au-opptable tbody,
     .au-opptable tr,
     .au-opptable th,
     .au-opptable td {
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
     }
     .au-opptable tr td,
     .au-opptable tr th {
          vertical-align: middle;
          overflow: hidden;
          position: relative;
          vertical-align: top;
          border: none;
          border-top: none;
          width: 100%;
          white-space: normal;
          display: inline-block;
          padding: 5px 0px 5px 130px;
     }
     .au-opptable th[scope="row"] {
          width: 100%;
          text-align: center;
          display: block;
          background-color: #B3BFC6;
          margin: 0 auto;
          padding: .5em 0;
     }
     .au-opptable td[data-header]:before {
          content: attr(data-header);
          display: inline-block;
          width: 130px;
          margin-left: -130px;
          color: #092E6E;
          font-weight: 700;
          text-align: left;
     }
     .au-opptable td[data-header]:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 115px;
          padding-bottom: 200%;
          display: block;
          border-right: 1px solid rgba(0, 0, 0, 0.05);
     }
     .au-opptable table tr {
          padding: 1em;
          margin: 20px 0px;
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
          background: rgb(238, 238, 238);
          background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
     }
     .au-h5 {
          max-width: unset;
     }
     .modal-open .modal {
          padding-right: 0px;
     }
     .au-searchbtn {
         display: block;
         width: 100%;
     }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {
     .au-navbar .navbar-nav .nav-link {
          margin: 0 0;
     }
     .au-navbar .navbar-nav .nav-link {
          margin: 0 0;
          padding: 10px 0;
     }
     .au-acc {
          width: 100%;
     }
     .au-user {
          margin: 0 0;
          width: 100%;
     }
     .au-user .au-btn {
          width: calc(50% - 12px);
     }
     .au-menu {
          display: block;
     }
     .au-h1 {
          font-size: 22px;
          text-align: center;
     }
     .au-h2 {
          font-size: 16px;
          text-align: center;
     }
     .au-h3 {
          font-size: 24px;
          text-align: center;
     }
     .au-carousel .au-btnblue {
          width: 100%;
     }
     .au-getrewards {
          height: auto;
     }
     .au-getrewards {
          background: transparent;
     }
     #aurewards {
          background: rgb(10, 35, 63);
          background: -moz-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          background: linear-gradient(45deg, rgba(10, 35, 63, 1) 0%, rgba(9, 46, 110, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a233f", endColorstr="#092e6e", GradientType=1);
     }
     .au-signupimg {
          margin: 0 auto;
     }
     .au-form .au-btnblue {
          width: 100%;
     }
     .au-plink {
          height: 250px;
     }
     .au-opthumbnail {
          height: 250px;
     }
     .au-phstats>* {
          display: block;
          margin: 5px 0px;
     }
     .au-opptable {
          margin: 0 auto;
          width: 100%;
          border-spacing: 0;
     }
     .au-opptable table {
          box-shadow: unset;
          background: transparent;
     }
     .au-opptable thead {
          position: absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
     }
     .au-opptable tbody,
     .au-opptable tr,
     .au-opptable th,
     .au-opptable td {
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
     }
     .au-opptable tr td,
     .au-opptable tr th {
          vertical-align: middle;
          overflow: hidden;
          position: relative;
          vertical-align: top;
          border: none;
          border-top: none;
          width: 100%;
          white-space: normal;
          display: inline-block;
          padding: 5px 0px 5px 130px;
     }
     .au-opptable th[scope="row"] {
          width: 100%;
          text-align: center;
          display: block;
          background-color: #B3BFC6;
          margin: 0 auto;
          padding: .5em 0;
     }
     .au-opptable td[data-header]:before {
          content: attr(data-header);
          display: inline-block;
          width: 130px;
          margin-left: -130px;
          color: #092E6E;
          font-weight: 700;
          text-align: left;
     }
     .au-opptable td[data-header]:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 115px;
          padding-bottom: 200%;
          display: block;
          border-right: 1px solid rgba(0, 0, 0, 0.05);
     }
     .au-opptable table tr {
          padding: 1em;
          margin: 20px 0px;
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, .15);
          background: rgb(238, 238, 238);
          background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee", endColorstr="#fff", GradientType=1);
     }
     .au-searchbtn .au-stitle {
          display: none;
     }
     .au-searchbtn {
         display: block;
         width: 100%;
     }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199px) {
     .au-navbar .navbar-nav .nav-link {
          margin: 0 15px;
     }
     .au-user {
          margin-left: 25px;
     }
     .au-logo {
          width: 180px;
     }
     .au-navbar .navbar-nav .nav-link {
          height: 35px;
          margin-top: 10px;
     }
}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
     .au-navbar .navbar-nav .nav-link {
          height: 35px;
          margin-top: 13px;
     }
}

@media (max-width:991px) {
     .au-hero-container .au-img-responsive {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
     }
     .au-hero-bg {
          min-height: 520px;
     }
}